@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
        format('truetype');
}


.parent-box {
    display: flex;
    /* Remember to remove the broder later */
    /* border: solid 5px black; */
    width: 736px;
    height: 512px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 50px #d0d3f5;
    font-family: 'HankenGrotesk';
}

.left-box {
    text-align: center;
    width: 368px;
    height: 512px;
    border-radius: 26px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#6642fe 30%, #302ce3);
}
.left-header{
    color: rgb(195, 185, 253);
    font-size: 20px;
    font-weight: bold;
}
.circle{
    width: 195px;
    height: 195px;
    border-radius: 50%;
    background-image: linear-gradient(#4f24cb 20%, #4734f0);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: -40px;
    margin-top: -70px;
}
.circle-head{
    font-weight: bold;
    font-size: 65px;
}
.left-sub-head{
    color: white;
    font-size: 35px;
    margin-top: -10px;
    margin-bottom: -30px;
}
.left-text {
    color: rgb(195, 185, 253);
    font-size: 16px;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
}

.right-box {
    text-align: center;
    border-radius: 26px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left:40px;
    padding-right:40px;
    
    padding-top:45px;
}
.right-main-header{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.reaction-box{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fdedeb;
    border-radius: 10px;
    color: #e06061;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    
}
.memory-box{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff8e7;
    border-radius: 10px;
    color: #f8b947;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}
.verbal-box{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #e1f8f5;
    border-radius: 10px;
    color: #1a9c7a;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}
.visual-box{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #ececff;
    border-radius: 10px;
    color: #5e69e7;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}
.summary-mark{
    width: 100%;
    text-align: right;
    padding-left: 0px;
    color: #22263f;
    font-weight: bold;
}
.summary-mark span{
    color: #9495a7;
}
.button{
    border: none;
    color: #fdfffc;
    background-color: #303b59;
    padding: 16px 113px;
    border-radius: 30px;
    margin-top: 25px;
    font-size: 20px;
}
.summary-icon{
    margin-right: 10px;
}